@model SistemaAlunos.Models.Domain.Aluno
@{
    ViewData["Title"] = "Cadastro Aluno";
    
}


<form asp-controller="Home" asp-action="Cadastro" method="post">
   @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>

    }
   

    <div class="FormCadastro">
        <h1 class="display-8">Cadastrar Aluno</h1>
        <div class="form-group">
            <label for="exampleInputEmail1">Nome</label>
            <input asp-for="Nome" type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Digite o nome">

        </div>
        <div class="form-group">
            <label for="">CPF</label>
            <input asp-for="CPF" type="text" class="form-control" id="" placeholder="Digite o CPF">
        </div>
        <div class="form-group">
            <label for="">Nascimento</label>
            <input asp-for="Nascimento" type="date" class="form-control" id="" placeholder="DD/MM/YYYY">
        </div>
        <div class="form-group ">
            <label for="sexo">Sexo</label>
            <select asp-for="Sexo" id="sexo" class="form-control" name="sexo">
                <option value="0">Feminino</option>
                <option value="1">Masculino</option>
            </select>


        </div>
        <br />
        <div class="form-group ">
            <button type="submit" asp-area="" asp-controller="Home" asp-action="Cadastro" class="btn form-control btn-success ">Cadastrar</button>

            <button type="submit" asp-area="" asp-controller="Home" asp-action="Index" class="btn form-control btn-secondary ">Voltar</button>
           
        </div>
        
    </div>

    
</form>
